// body{
//   background-image: url(../../img/front.jpg);
//   background-size: cover;
//   background-attachment: fixed;
// }

// .overlay{
//   background-color: rgba(0,0,0,.5);
//   height: 100vh;
//   width: 100vw;
// }

#logo{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5px;
  height: 70px;
}

.nav-item{
  margin-left: 40px;
}

h1{
  color: rgba(0,0,0,0)
}

.welcome_block{
  color: white;

  height: 900px;
  background-image: url(../../img/front.jpg);
  background-color: rgba(0,0,0,.5);
  background-size: cover;
  background-attachment: fixed;
  text-align: center;

}

h4{
  font-size: 200%
}

#welcome_columns{
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

#massage{
  width: 60%
}

#sauna{
  width: 60%
}

#personal-training{
  width: 60%
}

#welcome-button{
  margin: 10px;
}
