
@media only screen and (max-width: 700px) {
		/* MOBILE ONLY */

#logo{
  display: inline-block;
  margin-left: 5px;
  margin-right: auto;
  margin-top: -5px;
  height: 40px;
}

// // Fix these social media icon images
// // .navbar-brand{
// //   display: block;
// //   float: right;
// // }

.navbar-text{
  display: none;
}
// // BODY
#invisible_h1{
  color: transparent;
  font-size: 1px;
}

.welcome_block{
  background-image: url(../../img/front.jpg);
  background-size: contain;
  background-attachment: scroll;
  height: 240px;
  text-align: center;
  margin-top: 20px;
}

.overlay{
  background-color: rgba(0,0,0,.5);
  height: 240px;
  width: 100vw;
}

#welcome_block_text{
  font-size: 5vw;
  color: white;
  text-shadow: 2px 2px #000;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  line-height: inherit;
}

#main_services_heading{
  text-align: center;
  margin-top: 40px;
  font-size: 6vw;
}

#main_services_text_block{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 4vw;
  // border: 0px;
}

#main_service_text{
  text-align: center;
}

#main_services_button{
  font-size: 4vw;
  background-color: cadetblue;
  color: white;
  margin-top: -10px;
}

.massage_therapy_block{
  display: none;
}

#service_heading{
  padding-top: 10px;
  font-size: 6vw;
}

#service_text{
  // margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 4vw;
}

.sauna_therapy{
  display: none;
}

.fitness{
  display: none;
}

.wholyfit{
  display: none;
}

footer{

  padding: 20px;
  background-color: #333;
  color: white;
}

#footer_list{
  display: none;
}

#footer_logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  height: 50px;
}

#copywrite{
  display: block;
  margin: 20px;
  text-align: center;
  font-size: 2vw;
}

#map{
  display: block;
  height: inherit;
  width: inherit;
  margin-left: auto;
  margin-right: auto;
}

#mobile_view_contact{
  text-align: center;
}

}
// END MOBILE ONLY


@media only screen and (min-width: 701px){
// NAVBAR
#logo{
  display: inline-block;
  margin-left: 5px;
  margin-right: auto;
  margin-top: -5px;
  height: 70px;
}

// .navbar-brand{
//   display: block;
//   float: right;
// }

.nav-item{
  margin-left: 40px;
}

// BODY
#invisible_h1{
  color: transparent;
}

.welcome_block{
  color: white;
  height: 820px;
  background-image: url(../../img/front.jpg);
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

.overlay{
  background-color: rgba(0,0,0,.5);
  height: 820px;
  width: 100vw;
}

#welcome_block_text{
  font-size: 3vw;
  text-shadow: 2px 2px #000;
  margin-top: 180px;
  line-height: 180%;
}

#main_services_heading{
  text-align: center;
  margin-top: 100px;
  font-size: 50px;
}

#main_services_text_block{
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  border: 0px;
}

#main_service_text{
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

#main_services_button{
  color: white;
  background-color: cadetblue;
  margin-bottom: 100px;
  font-size: 1vw;
}

.massage_therapy_block{
  height: 820px;
  background-image: url(../../img/table.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: white;
  text-align: center;
}

.overlay2{
  background-color: rgba(0,0,0,.5);
  height: 820px;
  width: 100vw;
}

#service_heading{
  padding-top: 100px;
  font-size: 3vw;
  text-shadow: 2px 2px #000;
}

#service_text{
  margin-top: 50px;
  margin-left: 300px;
  margin-right: 300px;
  font-size: 2vw;
  text-shadow: 2px 2px #000;
}

#service_type_row{
  padding: 30px;
  margin-top: 100px;
  background-color: rgba(0,0,0,.5);
}

#service_type{
  color: #afcecf;
  line-height: 180%;
  text-shadow: .5px .5px #000;
  font-size: 1vw;
}

#appointment{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  padding: 30px;
  background-color: cadetblue;
  color: white;
  font-size: 1vw;
}

.white_space{
  height: 200px;
  background-color: white;
}

.sauna_therapy{
  height: 820px;
  background-image: url(../../img/sauna.png);
  background-size: cover;
  background-attachment: fixed;
  color: white;
  text-align: center;
}

.fitness{
  height: 820px;
  background-image: url(../../img/fitness.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: white;
  text-align: center;
}

.wholyfit{
  height: 820px;
  background-image: url(../../img/mats2.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: white;
  text-align: center;
}

#wholyfit_service_type{
  color: #afcecf;
  line-height: 180%;
  text-shadow: .5px .5px #000;
  font-size: 1vw;
  text-align: center;
}

footer{
  padding: 20px;
  background-color: #333;
  color: white;
  height: 400px;
}

#footer_list{
  list-style: none;
  display: inline-block;
  margin: 10px;
}

#footer_header_link{
  color: cadetblue;
}

#footer_link{
  color: white;
}

#map{
  display: inline-block;
  margin-top: 10px;
  float: right;
  height: 160px;
  width: inherit;
}

#mobile_view_contact{
  display: none;
}

#footer_logo{
  // display: block;

  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 70px;
}

#copywrite{
  // display: block;
  margin: 20px;
  // text-align: center;
}

// .footer-brand{
//   padding-right: 10px;
// }

}
// END MEDIA VIEW
